@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:wght@400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', 'Julius Sans One', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}